type project
id Aurum.Configuration
version 0.1.0-alpha.3
authors Shanoa Ice
description
    Configuration generation component for the Aurum project.
licenseExpression LGPL-3.0-only
repositoryUrl https://github.com/Shadowsocks-NET/Aurum
