bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.vs
.vscode
.idea

.fake
.ionide

#Paket dependency manager
.paket/
paket-files/
paket-cache/

#nuget files
nuget/**/*
!.gitkeep

#fsdocs
tmp
.fsdocs
output
