source https://api.nuget.org/v3/index.json

framework: net7.0

nuget Akka.FSharp
nuget Akka.Hosting
nuget sqlite-net-pcl
nuget Serilog.Sinks.Console
nuget Serilog.Sinks.File
nuget Microsoft.AspNetCore.WebUtilities
nuget Nanoid
nuget FSharp.Json
nuget FSharp.SystemTextJson
nuget FSharp.Core
nuget Aether
nuget System.Security.Cryptography.ProtectedData
nuget ProtoBuf.FSharp
nuget FSharp.Control.Reactive
nuget FSharpPlus
nuget Messerli.ChangeCase
