source https://api.nuget.org/v3/index.json

storage: none
framework: net6.0, net5.0

cache ./paket-cache versions: current

nuget sqlite-net-pcl
nuget JaggerJo.Avalonia.FuncUI.DSL
nuget JaggerJo.Avalonia.FuncUI.Elmish
nuget Serilog.Sinks.Console
nuget Serilog.Sinks.File
nuget Microsoft.AspNetCore.WebUtilities
nuget Nanoid
nuget FSharp.Json
nuget FSharp.Core >= 6.0
nuget Shadowsocks.OnlineConfig
nuget Aether
nuget System.Security.Cryptography.ProtectedData
nuget ProtoBuf.FSharp
nuget FSharp.Control.Reactive