type project
id Aurum
version 0.1.0-beta.1
authors Shanoa Ice
description
    Helper library for the Aurum project.
licenseExpression LGPL-3.0-only
repositoryUrl https://github.com/Shadowsocks-NET/Aurum
